<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="entrenador">Entrenador</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="portero">Portero</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="defensa">Defensa</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="centrocampista">Centrocampista</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="delantero">Delantero</a>
  </li>

</ul>
<router-outlet></router-outlet>

